.height-but{
  height: 20px;
}

.page-flex{
  display: flex;
  flex-direction: column;
}

.recap-cards-container{
  display: flex;
  flex-direction: row;
  background-color: aqua;
  width: 90vw;
  height: 60vh;
  margin: 2vh 5vw;
}

.recap-container{
  display: flex;
  flex-direction: column;
  background-color: rgb(7, 243, 66);
  width: 90%;
  height: 90%;
  margin: 1%;
}

.cards-container{
  display: flex;
  flex-direction: column;
  background-color: rgb(243, 7, 204);
  width: 90%;
  height: 90%;
  margin: 1%;
}

.graph-container{
  display: flex;
  background-color: brown;
  height: 34vh;
  width: 90vw;
  margin: 0vh 5vw;
}